*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shere code */
.font-opent-sans{
  font-family: "open Sans", sans-serif;
  font-optical-sizing: auto;
}
  .btn{
    background-color: #FD6E0A;
    border: none;
    color: #FFF8F3;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .text-center{
    text-align: center;
    padding-top: 50px;
  }
  /* shere end */

.header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png");
    background-position: 24px 38px , right bottom;
    background-repeat: no-repeat;
    
}
nav{
    width: 71%;
    max-width: 1140;
    
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.logo h2{
    font-size: 45px;
    font-weight:900 ;
}
.orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    

}
nav .menu a{ 
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;

}
/* hero secotion */

#hero{
    
    margin: 40px 38px 0px 231px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 163px;
}

.hero-content{
     max-width: 585px; 
     
   
}

.hero-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.hero-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.hero-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#hero .hero-img img{
    max-width: 584px;
    vertical-align: middle;
}
/* about section */

#about .about-container{
    
    width: 71%;
    max-width: 1140px;
    margin: 120px auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 120px 156px;
}
.header-section{
    max-width: 827px;
    text-align: center;
    margin: auto;
}
.header-section h1{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.header-section p{
    font-size: 18px;
    color:#757575;
    margin-bottom: 30px;

}
#about .about-info{
    display: flex;
    justify-content:space-around;
    
    
}
 .info-card p{
    font-size: 20px;
    color: #757575;
    


}
#about .about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
/* skill section */
#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    
}
.skill-container .header-section h1{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.skill-container .header-section p{
    font-size: 18px;
    color:#757575;
    margin-bottom: 30px;

}
#skill .skill-box{
    display: flex;
    gap: 24px;
   
}
.skill-box .skill-card{
   
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px #00000027;
    border-radius: 5px;
    
    
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.skill-card h2{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* resume section */

#resume{
    padding-top: 120px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
 .resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-card{

    max-width: 511px;
    margin-right: 71px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 700px;
    color: #757575;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container hr{
    margin: 30px 0;
}
/* footer section */

footer{
    margin-top: 120px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.social .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"],
.footer-container form textarea
{
    width: 462px;
    padding: 18px 30px;
    color: #757575;
    font-size: 16px;
    border: none;
    margin-bottom: 24px;
}