*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shere code */
.font-opent-sans{
  font-family: "open Sans", sans-serif;
  font-optical-sizing: auto;
}
  .btn{
    background-color: #FD6E0A;
    border: none;
    color: #FFF8F3;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  /* shere end */

.header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png");
    background-position: top left , right bottom;
    background-repeat: no-repeat;
    
}
nav{
    width: 71%;
    max-width: 1140;
    
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.logo h2{
    font-size: 45px;
    font-weight:900 ;
}
.orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    

}
nav .menu a{ 
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;

}
/* hero secotion */

#hero{
    
    margin: 40px 38px 0px 231px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 163px;
}

.hero-content{
     max-width: 585px; 
     
   
}

.hero-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.hero-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.hero-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#hero .hero-img img{
    max-width: 584px;
    vertical-align: middle;
}